<div class="yeti-nav" ng-controller="NavbarController as vm">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Yeti Library</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a ng-show="vm.data.roles[0].authority === 'ROLE_ADMIN'" href="#/add">Add</a></li>
                <li><a ng-hide="vm.data.roles.length" href="#/login">Login</a></li>
                <li ng-show="vm.data.roles.length" class="has-dropdown">
                    <a >Account</a>
                    <ul class="dropdown">
                        <li><a href="#">User</a></li>
                        <li ><a  href="" ng-click="vm.logout()" >Logout</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>



